.carrousel{
    background-color: white;
    color:white;
}

.legenda{
    color:white;
}

.custom-tag {
    max-width: 100%;
    height: 500px;
    background-image: black;
  }

  .sliderimg{
      width:20px;
      height:30px;
      margin: 30px 30px 30px 30px;
  }